[class^="l-grid__item--"],
[class*=" l-grid__item--"] {
  @include media($large) {
    @include collapse-children;
  }
}

.l-grid__item--s {
  @include media($tablet) {
    @include span-columns(2 of $columns__tablet);
  }
  @include media($desktop) {
    @include span-columns(2 of $columns__desktop);
  }
}
.l-grid__item--m {
  @include media($phablet) {
    @include span-columns(3 of $columns__phablet);
  }
  @include media($tablet) {
    @include span-columns(3 of $columns__tablet);
  }
  @include media($desktop) {
    @include span-columns(4 of $columns__desktop);
  }
}
.l-grid__item--l {
  @include media($desktop) {
    @include span-columns(6 of $columns__desktop);
  }
}
.l-grid__item--xl {
  @include media($tablet) {
    @include span-columns(7 of $columns__tablet);
  }
  @include media($desktop) {
    @include span-columns(10 of $columns__desktop);
  }
}

.l-spacer {
  border: none;
  margin: 0;
  height: em($ratio--m);

  @include media($large) {
    height: em($ratio--xxl);
  }
}

.l-col__medium--shift {
  @include shift(4 of $columns__desktop);

  margin-bottom: flex-gutter();
}
