.o-logo__variant:first-child {
  animation: logoMove $duration--xxl steps(2) infinite alternate;
}

@keyframes logoMove {
  0%, 100% {
    margin-top: 0;
  }
  50% {
    margin-top: -64px;
  }
}

@keyframes flashOne {
  0%, 100% {
    font-family: $font__mono;
  }
  50% {
    font-family: $font__serif;
  }
}
@keyframes flashTwo {
  0%, 100% {
    font-family: $font__serif;
  }
  50% {
    font-family: $font__mono;
  }
}
