.t-head--top {
  font-size: em($ratio--l);
  line-height: $spacing--s;

  font-family: $font__serif;
  font-weight: $font__serif--regular;

  @include media($desktop) {
    font-size: em($ratio--xl);
  }
}

.t-head--high {
  font-size: em($ratio--m);
  line-height: $spacing--s;

  font-family: $font__serif;
  font-weight: $font__serif--regular;

  @include media($tablet) {
    font-size: em($ratio--l);
  }
  @include media($desktop) {
    font-size: em($ratio--xl);
  }
}

.t-head--low {
  font-size: em($unit--m);
  
  font-family: $font__serif;
  font-weight: $font__serif--regular;

  @include media($large) {
    font-size: em($ratio--m);
  }
}

.t-head--lower {
  font-size: em($ratio--b);
  font-weight: $font__mono--regular;

  @include media($small) {
    text-align: center;
  }
}

.t-small {
  font-size: em($unit--xs);
}

.t-smallcaps {
  font-size: em($unit--xs);

  text-transform: uppercase;
  letter-spacing: em($ratio--xxs);
}

a {
  @include state--all {
    color: currentColor;
  }
}

.t-link {
  text-decoration: none;

  position: relative;

  &:after {
    content: "";

    @include position(absolute, 110% 0 null 0);

    height: $line--s;

    background-color: currentColor;
    opacity: .25;
  }
  
  @include state--active {
    &:after {
      opacity: 1;
    }
  }
}
