// Widths
$width--xl: 800;
$width--l:  740;
$width--m:  560;
$width--b:  400;
$width--s:  220;

// Heights
$height--l: round(modular-scale(1, $unit--b * $spacing--l, $multiplier-1));
$height--m: round(modular-scale(1, $unit--b * $spacing--m, $multiplier-1));
$height--b: round(modular-scale(1, $unit--b * $spacing--b, $multiplier-1));
$height--s: round(modular-scale(1, $unit--b * $spacing--s, $multiplier-1));

// Radius
$radius--b: 2px;

// Thickness
$line--l: 3px;
$line--b: 2px;
$line--s: 1px;

// Icons
$icon--l: 48;
$icon--m: 32;
$icon--b: 24;
$icon--s: 16;
